@import 'shared/styles/variables';

.inner {
	position: relative;
	margin: 100px 0;
	margin-top: 140px;
	background-color: $secondary-color;
	min-height: 300px;
	padding-top: 80px;
	padding-left: 50px;
	max-width: 100%;
	border-radius: 25px;

	background-image: url('../../../shared//assets/1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: 767px) {
		overflow: hidden;
		padding-top: 50px;
		padding-left: 30px;
		margin-top: 30px;

	}

	img {
		position: absolute;
		bottom: 0;
		right: 0%;

		@media screen and (max-width: 767px) {
			right: -8%;
			width: 80%;
		}
	}
}


.title {
	color: $white;
	font-style: normal;
	text-transform: capitalize;
	font-size: 40px;
	text-align: left;
	margin-bottom: 50px;
	max-width: 43%;

	@media screen and (max-width: 776px) {
		max-width: 60%;
		font-size: 24px;
	}

}