@import 'shared/styles/variables';


.section {
	position: relative;
	color: $primary-text-color;
	padding: 80px 0;
	background-color: $white;

	.title {
		color: $black;
		font-style: normal;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		font-size: 48px;
		margin-bottom: 50px;

		@media screen and (max-width: 776px) {
			font-size: 36px;
			margin-bottom: 30px;
		}

	}

	.list {

		.item {
			color: $black;
			font-size: 16px;
			padding: 20px;
			margin-bottom: 10px;
			box-shadow: 0px 4px 40px #EEEEFC;
			border-radius: 10px;

			@media screen and (min-width: 1200px) {
				padding: 30px;
			}

			h4 {
				font-size: 18px;
				margin-bottom: 10px;
			}

			p {
				line-height: 1.4;
			}
		}
	}

}