@import 'shared/styles/variables';


.section {
	position: relative;
	color: $primary-text-color;

	padding: 80px 0;
	background-image: url(../../../shared/assets/images/propositionBg_.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($primary-bg-color, 0.9);
		z-index: 0;
	}

	.title {
		color: $white;
		font-style: normal;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		font-size: 48px;
		text-align: center;
		margin-bottom: 50px;

		@media screen and (max-width: 776px) {
			font-size: 36px;
			margin-bottom: 30px;
		}

	}

	.list {

		display: flex;
		flex-direction: column;

		@media screen and (min-width: 1200px) {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.item {
			position: relative;
			z-index: 1;
			display: flex;
			align-items: center;
			color: $white;
			font-size: 18px;
			padding: 10px 0 0 30px;
			text-transform: uppercase;
			// margin-bottom: 10px;

			@media screen and (min-width: 767px) {
				padding: 15px 0 0 40px;
			}

			@media screen and (min-width: 1200px) {
				width: calc((100% - 20px) / 2);
				text-align: left;
				font-size: 24px;
				padding: 15px 0 0 40px;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				background-image: url('data:image/svg+xml,<svg style="enable-background:new 0 0 24 24;" fill="white" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">.st0{opacity:0.2;fill:none;stroke:%23000000;stroke-width:5.000000e-02;stroke-miterlimit:10;}</style><g id="grid_system"/><g id="_icons"><path d="M18.3,6.3L9.1,16.4l-2.3-3c-0.3-0.4-1-0.5-1.4-0.2c-0.4,0.3-0.5,1-0.2,1.4l3,4C8.4,18.8,8.7,19,9,19c0,0,0,0,0,0 c0.3,0,0.5-0.1,0.7-0.3l10-11c0.4-0.4,0.3-1-0.1-1.4C19.3,5.9,18.6,5.9,18.3,6.3z"/></g></svg>');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				width: 20px;
				height: 20px;

				@media screen and (min-width: 776px) {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

}