@import "shared/styles/_variables.scss";

.item {
	width: 100%;
}

.img_thumb {
	max-height: 315px;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;

	img {
		width: 100%;
		display: block;
		object-fit: cover;
		object-position: center;
	}

}

.title {
	text-align: center;
	font-size: 48px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: $blue;

	@media screen and (max-width: 767px) {
		font-size: 32px;
	}
}


.subtitle {
	color: #4c4c4e;
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
}